.sideBar
  .sideBar__user
    %h2.sideBar__user-name
      = current_user.name
      %ul.sideBar__user-lists
        %li.list
          = link_to new_group_path do
            %i.fa.icon.fa-pencil-square-o
        %li.list
          = link_to edit_user_path(current_user) do
            %i.fa.icon.fa-cog
  .groups
    - current_user.groups.each do |g|
      .group
        = link_to '#' do
          .sideBar__group
            %h3.sideBar__group-name
              g.name
            %p.sideBar__group-message
              Latest message
