.main{

  .sideBar{
    background-color: #2f3e51;
    // padding: 0 20px ;
    float: left;
    width: 300px;
    height: 100vh;
    //vh vwという単位を使うと view に対して何パーセントの幅かを決定できる。

      &__user{
        background-color: #253141;
        padding: 35px 20px;
        margin-bottom: 20px;
        &-name{
          font-size: 16px;
          font-weight: bold;
          color: $white-text;
        }
      }
      &__group{
        padding: 0 20px ;
        margin-bottom: 40px;

        &-name{
          font-size: 15px;
          color: $white-text;
          margin-bottom: 5px;

        }
        &-message{
          font-size: 11px;
          color: $white-text;

        }
      }
  }
}
