@import "./reset";
@import "./variable.scss";
//@import "font-awesome";
@import "./sidebar.scss";
@import "./message.scss";

/*
 *= require font-awesome
 */

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
