%div.container_main

  %div.sideBar
    %div.sideBar__user
      %h2.sideBar__user-name
        User Name
        %i.fa.fa-pencil-square-o
        %i.fa.fa-cog
    %div.sideBar__group
      %h3.sideBar__group-name
        Group Name
      %p.sideBar__group-message
        Latest message

  %content.main_body
    %div.info
      %h2.info__name
        Name Name
      %p.info__members
        Member List
      %a.info_edit-btn
        Edit

    %div.textArea
      %h3.textArea_Name
        User Name
      %h4.textArea_Timestamp
        2018/05/20 18:00
      %p.textArea_message
        Sample Message

    %div.sendMessage
      %div.sendMessage__input
        %div.sendMessage__input-text
          入力してちょ
          %i.fa.fa-image
        %a.sendMessage__input-btn
          Send
