%div.main

  = render 'sidebar'

  %content.main_body.clearfix
    %div.info.clearfix
      %div.info__group.info__float-left
        %h2.info__name
          Name Name
        %p.info__members
          Member List
      %a.info__edit-btn.info__float-right
        Edit

    %div.textArea
      %div.textArea__user
        %h3.textArea__name
          User Name
          %span.textArea__timestamp
            2018/05/20 18:00
        %p.textArea__message
          Sample Message

    %div.sendMessage.clearfix
      %div.sendMessage__input
        %div.sendMessage__input-text.sendMessage__float-left
          %p
            入力してちょ
            =fa_icon 'fa-image'
        %a.sendMessage__input-btn.sendMessage__float-right
          Send
