.main

  = render 'sidebar'

  %content.main_body.clearfix
    .info.clearfix
      .info__group.info__float-left
        %h2.info__name
          Name Name
        %p.info__members
          Member List
      %a.info__edit-btn.info__float-right
        Edit

    .textArea
      .textArea__user
        %h3.textArea__name
          User Name
          %span.textArea__timestamp
            2018/05/20 18:00
        %p.textArea__message
          Sample Message

    .sendMessage.clearfix
      .sendMessage__input
        .sendMessage__input-text.sendMessage__float-left
          %p
            入力してちょ
            = link_to "#" do
              = fa_icon 'fa-image'
            = link_to '#'
            .sendMessage__input-btn.sendMessage__float-right
              Send
